fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-ollama
langgraph
chromadb
langchain-chroma
langchain-huggingface
huggingface-hub
transformers==4.46.3
sentence-transformers==3.3.1
torch
pypdf
pillow
langchain-text-splitters
pyyaml
pydantic
python-multipart
httpx
pytest
